<%- include('../partials/header') %>
    <div class="songWrapper">
        <h1 class="top50title"> <%- top50.title %> </h1>
        <p class="top50artist"> <%- top50.artist %> </p>
        <p class="top50streams"> <%- top50.streams %> </p>
    </div>
<%- include('../partials/footer') %>